.board {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (min-width: 260px) and (max-width: 576px) {
    .board {
        flex-wrap: wrap;
        justify-content: center;
    }
}