.App {
    margin: 0 auto;

}

.container {
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 100%;
}

@media (min-width: 260px) and (max-width: 576px) {
    .header__title {
        display: none;
    }
    .header-container {
        justify-content: flex-end;
    }
}

@media (min-width: 577px) and (max-width: 1199px){
    .board {
        justify-content: center;
        flex-wrap: wrap;
    }
}