.App {
    margin: 0 auto;
    height: 100vh;
}

.container {
    width: 1205px;
    margin: 0 auto;
    height: 100%;
}

@media (min-width: 300px) and (max-width: 1200px) {
    .container {
        width: 282px;
        margin: 0 auto;
    }
    .header__title {
        display: none;
    }
    .header-container {
        justify-content: flex-end;
    }
    .board {
        flex-wrap: wrap;
    }
}
